body{
    font-family: "Poppins";
    background-image: url('https://i.im.ge/2024/09/20/kM02vT.bg-desktop.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(255, 255, 255);

}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 48px;
}

.card{
    margin: 16px 16px;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 96px);
    border-radius: 20px;


}
.card-conteudo{
    text-align: center;
    height: 100%;
    border-radius: 20px;
    margin-top: 100px;
    color: rgb(9, 51, 0);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.692);
    border: 2px solid rgb(21, 255, 0);
    
 
}
.card-pergunta{

    color: rgb(16, 97, 0);
    font-weight: 700;

}

.card-conteudo h3{

    border: 2px solid rgb(16, 97, 0) ;
    border-radius: 15px;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    position: absolute;
    margin: 20px;
    color: rgb(16, 97, 0);
    backface-visibility: hidden;

}

.card-pergunta p {
    padding: 150px;

}
.card-conteudo p {
    margin-top: -92px;
}


.card:hover .card-conteudo{
    transform: rotateY(180deg);
    color: white;
    font-weight: 600;
}


.card-pergunta,
.card-resposta {
    backface-visibility: hidden;
    box-sizing: border-box;
}

.card-resposta {
    transform: rotateY(180deg);
    
}

.card-pergunta, h3 {
    transform: rotateZ(180deg) ;
}


.card.active .card-conteudo {
    transform: rotateY(180deg);
}









footer{ 
    background-color: rgb(43, 255, 0);
    bottom: 0;
    position: fixed;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 2em;
}

footer p {
    text-align: center;
    font-size: 12px;
    margin-top: 0.8em;
}
 