body{
    font-family: "Poppins";
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);

}

#container{
    display: flex;
}

.card{
    margin: 16px 16px;
    background-color: black;

}

footer{
    background-color: rgb(43, 255, 0);
    bottom: 0;
    position: fixed;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 2em;
}

footer p {
    text-align: center;
    font-size: 12px;
    margin-top: 0.8em;
}
